{% extends '../website/base.html' %}

{% block content %}

    <main class="container py-5">
        <section class="card card-body d-flex flex-row mb-4">
                <img class="rounded-circle" src="{% if user.trainerprofile %}{{ user.trainerprofile.profile_picture.url }}{% else %}{{ user.customerprofile.profile_picture.url }}{% endif %}" alt="" width='250px' height="250px" alt="">
                <div class="ms-4 mt-1" style="width: 900px;">
                    <h1 class="" style="font-size: 3.5rem; font-weight: 700;">{{user.username}}</h1>
                    {% if user.customerprofile.is_premium == True %}
                        <h4 class="" style="font-weight: 400; color: #2F89F6;">Premium account</h4>
                    {% else %}
                        <h4 class="" style="font-weight: 400;">Simple account</h4>
                    {% endif %}
                    <hr class="mt-2 mb-4">
                    {% if not user.customerprofile.description %}
                        <blockquote class="blockquote text-secondary">
                            <p class="mb-0">You dont have a description about you or your interests</p>
                        </blockquote>
                    {% else %}
                        <blockquote class="blockquote text-secondary">
                            <p>{{user.customerprofile.description}}</p>
                        </blockquote>
                    {% endif %}
                </div>
                <div class="d-flex justify-content-end" style="width: 210px;">
                    <a href="{% url 'edit-profile-customer' %}"><button class="btn btn-dark">Edit profile</button></a>
                </div>
        </section>
        <section class="d-flex justify-content-evenly mt-5">
            <a href="" style="text-decoration: none;"><article class="card card-body d-flex justify-content-center align-items-center bg-opacity-25" style="width: 500px; height: 140px; background-image: url('https://i.pinimg.com/564x/32/f2/72/32f27216482720011061995d6e9880f3.jpg'); background-size: cover; background-position: center;">
                <h3 class="mt-2" style="font-family: Bebas Neue, sans-serif; font-weight: 400; font-style: normal; font-size: 3rem; color: azure;">My routines</h3>
            </article></a>
            <a href="" style="text-decoration: none;"><article class="card card-body d-flex justify-content-center align-items-center bg-opacity-10" style="width: 500px; height: 140px; background-image: url('https://i.pinimg.com/564x/c9/d3/6e/c9d36e4462e49d12e895bb4613d21cce.jpg'); background-size: cover; background-position: center;">
                <h3 class="mt-2" style="font-family: Bebas Neue, sans-serif; font-weight: 400; font-style: normal; font-size: 3rem; color: azure;">Exercises</h3>
            </article></a>
        </section>
    </main>
    
{% endblock %}